.cover,
.cover * {
  box-sizing: border-box;
}
.cover {
  background: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.seamless-pattern-medical-icons-white-background-vector-illustration-53722583-2 {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: -3px;
}
.content {
  position: absolute;
  inset: 0;
}
.button-beli-obat {
  width: 350px;
  height: 100px;
  position: static;
}
.rectangle-1 {
  background: #4cc9b0;
  border-radius: 20px;
  border-style: solid;
  border-color: #6a5e54;
  border-width: 3px;
  width: 350px;
  height: 100px;
  position: absolute;
  left: 206px;
  top: 818px;
}
.beli-obat {
  color: #000000;
  text-align: center;
  font: 400 35px "Poppins-Regular", sans-serif;
  position: absolute;
  left: 286.03px;
  top: 830.86px;
  width: 188.74px;
  height: 75.71px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-13 {
  background: #ebe1d7;
  opacity: 0.5;
  width: 1550px;
  height: 500px;
  position: absolute;
  left: calc(50% - 785px);
  top: 287px;
}
.belanja-obat-mudah-dan-aman-dengan-baymed {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 206px;
  top: 317px;
  width: 1507px;
  height: 199px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.belanja-obat-mudah-dan-aman-dengan-baymed-span {
  color: #000000;
  font: 400 74px "Poppins-Regular", sans-serif;
}
.belanja-obat-mudah-dan-aman-dengan-baymed-span2 {
  color: #000000;
  font: 400 70px "Poppins-Regular", sans-serif;
}
.belanja-obat-mudah-dan-aman-dengan-baymed-span3 {
  color: #000000;
  font: 700 86px "Poppins-Bold", sans-serif;
}
.baymed-adalah-platform-online-terpercaya-untuk-memenuhi-kebutuhan-obat-anda-kami-hadir-dengan-tujuan-membuat-pengadaan-obat-menjadi-lebih-mudah-dan-terjangkau-dengan-produk-produk-obat-berkualitas-kami-selalu-menjaga-keamanan-dan-kepuasan-pelanggan-di-hati-saya {
  color: #000000;
  text-align: justified;
  font: 400 35px "Poppins-Regular", sans-serif;
  position: absolute;
  left: 206px;
  top: 516px;
  width: 1487px;
  height: 297px;
  display: flex;
  align-items: center;
  justify-content: undefined;
}
.rectangle-17 {
  background: #d9d9d9;
  width: 159px;
  height: 48px;
  position: absolute;
  left: 1174px;
  top: 28px;
}
.rectangle-18 {
  background: #d9d9d9;
  width: 88px;
  height: 48px;
  position: absolute;
  left: 1764px;
  top: 28px;
}
.rectangle-19 {
  background: #d9d9d9;
  width: 152px;
  height: 48px;
  position: absolute;
  left: 228px;
  top: 28px;
}
.rectangle-12 {
  background: rgba(175, 168, 159, 0.8);
  width: 1920px;
  height: 105px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-115 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #4cc9b0;
  width: 1920px;
  height: 105px;
  position: absolute;
  left: 0px;
  top: 1px;
}
.user {
  color: #000000;
  text-align: center;
  font: 400 36px "Inter-Regular", sans-serif;
  position: absolute;
  left: calc(50% - -574px);
  top: 28px;
  width: 155px;
}
.home {
  color: #000000;
  text-align: center;
  font: 400 30px "Inter-Regular", sans-serif;
  position: absolute;
  left: calc(50% - 732px);
  top: 32px;
  width: 155px;
}
.medicine {
  color: #000000;
  text-align: center;
  font: 400 30px "Inter-Regular", sans-serif;
  position: absolute;
  left: calc(50% - -214px);
  top: 32px;
  width: 155px;
}
.about-us {
  color: #000000;
  text-align: center;
  font: 400 30px "Inter-Regular", sans-serif;
  position: absolute;
  left: calc(50% - -411px);
  top: 32px;
  width: 155px;
}
.pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image-1978396-removebg-preview-1 {
  width: 103px;
  height: 100px;
  position: absolute;
  left: 1661px;
  top: 0px;
}
.image-2 {
  width: 50px;
  height: 41.78px;
  position: absolute;
  left: 1785px;
  top: 32px;
}
