nav {
  background-color: #4cc9b0;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #3db59d;
  color: #333;
}
