.content {
  position: absolute;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  inset: 0;
}

.cta-button {
  background-color: #4cc9b0;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 10px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.judulutama {
  color: #000000;
  font-size: 42px;
  margin-bottom: -30px;
  /* text-align: left;
  position: absolute;
  left: 206px;
  top: 317px;
  width: 1507px;
  height: 199px;
  display: flex;
  align-items: center;
  justify-content: flex-start; */
}
.slogan {
  color: #000;
  text-align: justify;
  /* font-feature-settings: 'clig' off, 'liga' off; */
  /* font-family: Poppins; */
  font-size: 25px;
  /* font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; */
}
.image-2 {
  width: 50px;
  height: 41.78px;
  position: absolute;
  left: 1785px;
  top: 32px;
}
